#include "dialog.h"

IDI_SETWPAKEY       ICON         "setwpakey.ico"

IDD_WPASELECT DIALOGEX 0, 0, 260, 50
STYLE DS_3DLOOK | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SETFONT | DS_FIXEDSYS | DS_CENTER
CAPTION "Select School WPA Key"
FONT 10, "MS Shell Dlg"
BEGIN
    LTEXT "Please select the school at which you will need to connect\nto the wireless network", IDC_STATIC, 10, 10, 420, 20
    COMBOBOX IDC_WPASELECT, 10, 30, 180, 200, CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP
    DEFPUSHBUTTON "Add Network", IDC_ADDNET, 200, 30, 50, 13
END

